@charset "UTF-8";

/* 초기화 */

* {
    margin: 0; padding: 0;
    font-family: Arial, 'sans-serif';
}

a { text-decoration: none !important; }
img { border: 0; }
ul { list-style: none; }

/* 헤더 */

#main_header {
    height: 390px;
    background: gray;
    color: white;
}

#main_header a {
    color: white;
}

#main_header > .gnb_container {
    background: black;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

#main_header .gnb {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

#main_header .logo {
    float: left;
    width: 190px;
    margin-top: 16px;
}

#main_header ul.nav {
    float: left;
    overflow: hidden;
    padding-left: 10px;
}

#main_header ul.nav > li {
    float: left;
    padding: 20px 17px;
}

#main_header ul.nav > li:nth-child(4), li:nth-child(5) {
    display: none;
}

#main_header .setting {
    float: right;
    width: 21px;
    text-align: right;
    padding-top: 20px;
}

#main_header .trigger {
    float: right;
    width: 23px;
    text-align: right;
    padding-top: 20px;
    display: none;
}

#main_header .trigger .close {
    display: none;
}


/* active_path, active bar */

#main_header > .active_path {
    position: fixed;
    width: 100%;
    height: 1px;
    background: #d8d8d8;
    top: 60px;
    z-index: 1;
}

#main_header > .active_path > .active_bar {
    width: 81px;
    height: 1px;
    margin: 0px;
    background: tomato;
    display: none;
}

/* 하위메뉴 */

#main_header .lnb_container {
    display: none;
    background: rgb(34, 34, 34);
    height: 60px;
    width: 100%;
    position: fixed;
    top: 61px;
    z-index: 1;
}

#main_header .lnb_container > .lnb {
    overflow: hidden;
    margin: 0 auto;
    display: none;
}

#main_header .lnb_container > .lnb > li {
    float: left;
    margin: 20px 10px 0 10px;
}

/* 검색창 */

#main_header > #search_box {
    position: relative;
    top: 200px;
}

#main_header > #search_box > div#search_bar {
    width: 650px;
    margin: 0 auto;
}

#main_header > #search_box > div#current_location {
    width: 300px;
    height: 35px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding: 0 10px;
    overflow: hidden;
}

#main_header > #search_box > div#current_location > div:nth-child(1) {
    float: left;
    text-align: center;
    line-height: 35px;
}

#main_header > #search_box > div#current_location > div:nth-child(2) {
    float: right;
    text-align: center;
    line-height: 35px;
}



/* 푸터 */

#main_footer {
    height: 150px;
}

#main_footer > div:nth-child(1) {
    background: rgb(240, 240, 240);
    height: 50px;
    text-align: center;
    line-height: 50px;
}

#main_footer > div:nth-child(2) {
    background: white;
    height: 100px;
    padding-top: 30px;
}

#main_footer > div:nth-child(2) > div {
    width: 100%;
    font-size: 13px;
    text-align: center;
}

/* 미디어 쿼리 
주의점 : css속성 제일 밑에 작성해야한다. 공통사항 제외하고 변경하고싶은 사항 작성*/

@media screen and (max-width:767px) {
    #main_header {
        background: url("../img/425x450.jpg");
        background-size: cover;
    }

    #main_header .gnb, .lnb {
        width: 90vw;
    }

    #main_header ul.nav {
        display: none;
    }

    #main_header .setting {
        display: none;
    }

    #main_header .trigger {
        display: block;
    }

    #main_header > #search_box > div#search_bar {
        width: 85vw;
    }

    #main_header > #search_box > div#current_location {
        width: 85vw;
    }

    #main_footer > div:nth-child(2) > div {
        font-size: 11px;
        text-align: left;
    }
}


@media screen and (min-width:768px) and (max-width:1023px) {
    #main_header {
        background: url("../img/768x450.jpg");
        background-size: cover;
    }

    #main_header .gnb, .lnb {
        width: 90vw;
    }

    #main_header > #search_box > div#search_bar {
        width: 85vw;
    }

    #main_footer > div:nth-child(2) > div {
        font-size: 11px;
    }
}


@media screen and (min-width:1024px) {
    #main_header {
        background: url("../img/1024x450.jpg");
        background-size: cover;
    }

    #main_header .gnb, .lnb {
        width: 960px;
    }

}